<div id="rgwrap">
    <div id="adminmenumain">
        <div id="adminmenuback"></div>
        <div id="adminmenuwrap">
            <ul id="adminmenu">
                <li class="wp-has-submenu menu-top menu-icon-page" id="menu-pages">
                    <a href="edit.php?post_type=page" class="wp-has-submenu menu-top menu-icon-page" aria-haspopup="false"><div class="wp-menu-arrow"><div></div></div><div class="wp-menu-image dashicons-before dashicons-admin-page"><br></div><div class="wp-menu-name">Pages</div></a>
            </ul>
        </div>
    </div>
    <div id="rgcontent">
        <div id="rgadminbar"></div>
        <div id="rgbody">
            <div id="rgbody-content">
                <div id="screen-meta"></div>
                <div id="screen-meta-links" style="display: none;">
                    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
                        <button type="button" id="contextual-help-link" class="button show-settings" aria-controls="contextual-help-wrap" aria-expanded="false">Help</button>
                    </div>
                    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
                        <button type="button" id="show-settings-link" class="button show-settings" aria-controls="screen-options-wrap" aria-expanded="false">Screen Options</button>
                    </div>
                </div>
                <div class="wrap">
                    <h1>{{pageTitle}}</h1>



                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    html.rg-toolbar {
        padding-top: 32px;
    }
    body {
        background: #f1f1f1;
        color: #444;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 13px;
        line-height: 1.4em;
        min-width: 600px;
    }
    button, input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    ul {
        list-style: none;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .rg-core-ui .button,
    .rg-core-ui .button-primary,
    .rg-core-ui .button-secondary {
        display: inline-block;
        text-decoration: none;
        font-size: 13px;
        line-height: 26px;
        height: 28px;
        margin: 0;
        padding: 0 10px 1px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        -webkit-appearance: none;
        border-radius: 3px;
        white-space: nowrap;
        box-sizing: border-box;
    }
    .rg-core-ui .button,
    .rg-core-ui .button-secondary {
        color: #555;
        border-color: #ccc;
        background: #f7f7f7;
        box-shadow: 0 1px 0 #ccc;
        vertical-align: top;
    }
    #screen-meta-links .show-settings {
        border: 0;
        background: 0 0;
        border-radius: 0;
        color: #72777c;
        line-height: 1.7;
        padding: 3px 6px 3px 16px;
    }
    #rgwrap {
        height: auto;
        min-height: 100%;
        width: 100%;
        position: relative;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    #adminmenuback {
        position: fixed;
        top: 0;
        bottom: -120px;
        z-index: 1;
        width: 160px;
        background-color: #23282d;
    }
    #adminmenuwrap {
        position: relative;
        float: left;
        z-index: 9990;
        width: 160px;
        background-color: #23282d;
    }
    #adminmenu {
        clear: left;
        margin: 12px 0;
        padding: 0;
        list-style: none;
    }
    #adminmenu li {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    #adminmenu li.menu-top {
        border: none;
        min-height: 34px;
        position: relative;
    }
    #adminmenu a, #catlist a, #taglist a {
        text-decoration: none;
    }
    #adminmenu a {
        display: block;
        line-height: 18px;
        padding: 2px 5px;
        color: #eee;
    }
    #adminmenu .wp-submenu-head,
    #adminmenu a.menu-top {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 0;
    }
    #adminmenu div.wp-menu-name {
        padding: 8px 0;
    }
    ul#adminmenu a.wp-has-current-submenu {
        position: relative;
    }
    #adminmenu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
        background: #0073aa;
        color: #fff;
    }
    #adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
        width: 160px;
        background-color: #23282d;
    }
    #adminmenu .wp-submenu {
        list-style: none;
        position: absolute;
        top: -1000em;
        left: 160px;
        overflow: visible;
        word-wrap: break-word;
    }
    #adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
        padding: 7px 0 8px;
        z-index: 9999;
        background-color: #32373c;
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
    }
    #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
        position: relative;
        z-index: 3;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        border: 0;
        margin-top: 0;
        box-shadow: none;
        background-color: #32373c;
    }
    #rgcontent {
        height: 100%;
        padding-left: 20px;
        margin-left: 160px;
    }
    #rgadminbar {
        direction: ltr;
        color: #ccc;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        height: 32px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 600px;
        z-index: 99999;
        background: #23282d;
    }
    #rgadminbar, #rgadminbar * {
        font-size: 13px;
        font-weight: 400;
        line-height: 32px;
    }
    #rgbody {
        position: relative;
    }
    #rgbody-content {
        padding-bottom: 65px;
        float: left;
        width: 100%;
        overflow: visible!important;
    }
    #screen-meta {
        margin: 0 20px -1px 0;
        position: relative;
        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        box-shadow: 0 1px 0 rgba(0,0,0,.025);
    }
    #screen-meta-links {
        margin: 0 20px 0 0;
    }
    #screen-meta-links .screen-meta-toggle {
        position: relative;
        top: 0;
    }
    #contextual-help-link-wrap, #screen-options-link-wrap {
        float: right;
        height: 28px;
        margin: 0 0 0 6px;
        border: 1px solid #ddd;
        border-top: none;
        background: #fff;
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    }
    #screen-meta {
        display: none;
    }
    .wrap {
        margin: 10px 20px 0 2px;
    }
    .wrap h1, .wrap>h2:first-child {
        font-size: 23px;
        font-weight: 400;
        margin: 0;
        padding: 9px 0 4px;
        line-height: 29px;
    }
    .widefat {
        background: #fff;
        border-spacing: 0;
        width: 100%;
        clear: both;
        margin: 0;
    }
    .widefat thead td, .widefat thead th {
        border-bottom: 1px solid #e1e1e1;
    }
    .widefat td, .widefat th {
        padding: 8px 10px;
    }
    .widefat tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    .widefat tfoot td, .widefat tfoot th {
        border-top: 1px solid #e1e1e1;
        border-bottom: none;
    }
    .check-column {
        width: 32px;
    }
    .fixed .column-author, .fixed .column-date, .fixed .column-format, .fixed .column-links, .fixed .column-parent, .fixed .column-posts {
        width: 10%;
    }
    .fixed .column-categories, .fixed .column-rel, .fixed .column-response, .fixed .column-role, .fixed .column-tags {
        width: 15%;
    }
</style>